<div class="container">
  <h1>Welcome!</h1>
  <h3>Register to get started</h3>
  <p><%= link_to 'Register', new_user_registration_path %></p>
  <h3>Or Login</h3>
  <p><%= link_to 'Login', new_user_session_path %></p>
</div>
